.nav-container {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	padding: $md;
}

.nav-list {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.nav-inactive {
	border-bottom: $border-transparent;
	font-size: $font-size-sm;
	font-weight: $font-weight-light;
	margin-left: $lg;
	color: $color-black !important;
	&:hover {
		color: $color-primary;
		border-bottom: $border-primary;
	}
}

.nav-active {
	border-bottom: $border-transparent;
	font-size: $font-size-sm;
	font-weight: $font-weight-light;
	margin-left: $lg;
	color: $color-black !important;
	border-bottom: $border-primary;
}

.nav-active:hover {
	border-bottom: $border-primary;
}

